@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@125..900&family=Mukta:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Mukta', monospace;
  font-weight: 700;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

.navbar {
  background-color: transparent;
  font-size: 10px;
  padding: 25px;
  display: flex;
  justify-content: flex-end; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; 
  margin-right: 170px;
}

.navbar ul li {
  display: inline;
  margin-left: 50px;
}

.navbar ul li a {
  color: #222433;
  text-decoration: none;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: #7a82c2;
}

.hero, .projects, .contact, .footer {
  padding: 40px;
  text-align: center;
}

.hero {
  padding: 40px 40px 20px 40px;
  font-size: 40px;
  font-weight: 700;
}

.footer {
  background-color: #222433;
  color: #f4f4f9;
  padding: 20px;
}

.macos-window {
  background-color: #222433;
  color: #7a82c2;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  font-weight: 900;
  border-radius: 8px;
  overflow: hidden;
  width: 710px;
  height: 450px;
  border: 1px solid #2b2b3e;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5); 
  margin: 20px auto;
}

.macos-titlebar {
  height: 18px;
  display: flex;
  align-items: center;
  background-color: #1f1f24;
  padding: 5px 10px;
  border-bottom: 1px solid #2b2b3e;
}

.macos-buttons {
  display: flex;
  align-items: center;
}

.macos-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.macos-button-close {
  background-color: #ff5f57;
}

.macos-button-minimize {
  background-color: #ffbd2e;
}

.macos-button-fullscreen {
  background-color: #28c840;
}

.skip-button {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px 10px;
  background-color: #7a82c2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.skip-button:hover {
  background-color: #656cae;
}

.macos-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #d4d4d4;
  font-size: 12px;
}

.macos-content {
  position: relative;
  flex-grow: 1;
  padding: 12px 20px 6px;
  /* padding: 12px 0px 30px 20px; */
  overflow-y: auto;
  line-height: 1.47;
}

.blinking-block-hidden {
  visibility: hidden;
}

.project-card {
  background-color: #222433;
  color: #7a82c2;
  font-family: 'Inconsolata', monospace;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  margin: 20px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 60px rgba(0, 0, 0, 0.6);
}

.project-titlebar {
  display: flex;
  align-items: center;
  background-color: #1f1f24;
  padding: 5px 10px;
  border-bottom: 1px solid #2b2b3e;
  position: relative;
}

.project-buttons {
  display: flex;
  align-items: center;
}

.project-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.project-button-close {
  background-color: #ff5f57;
}

.project-button-minimize {
  background-color: #ffbd2e;
}

.project-button-fullscreen {
  background-color: #28c840;
}

.project-title {
  margin-left: auto;
  margin-right: auto;
  color: #d4d4d4;
  font-size: 12px;
}

.project-content {
  padding: 15px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  filter: grayscale(80%);
  transition: filter 0.3s;
}

.project-image:hover {
  filter: grayscale(0%);
}

.project-description {
  margin-top: 10px;
  color: #d4d4d4;
  font-size: 14px;
}

.projects-section {
  padding: 40px 20px;
}

.projects-section h2 {
  font-family: 'Inconsolata', monospace;
  color: #222433;
  text-align: center;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
